/* This is for making a scrolling in the x-direction  */

body {
    width: 200vw;
}

.article-header {
  height: 300vh;
  width: 100%;
  background-color: black;
}

.scroll-watcher {
  position: fixed;
  height: 10px;
  top: 0;
  z-index: 1000;
  background-color: lime;
  width: 100%;
  scale: 0 1;
  animation: scroll-watcher linear;
  /* Setting scroll to x will watch for scrolling in x-direction */
  animation-timeline: scroll(x);
  transform-origin: left;
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}
